#ico_map
{
    height: 18px;
}
#eco
{
    height: 30px;
}
#familial
{
    height: 30px;
}
#romantique
{
    height: 30px;
}
#animaux
{
    height: 30px;
}
#info
{
    height: 30px;
}
.star
{
    height: 30px;
}
.star2
{
    height: 20px;
}
#ico_link
{
    height: 30px;
}
.star2
{
    height: 25px;
}
#bloc_page
{
    width: 93%;
    margin: auto;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
    font-family: 'ralewayregular';
}
header
{
    display: flex;
    justify-content: space-between;
}
header h1
{
    font-size: 1.5em;
}

#titre_principal
{
    display: flex;
    padding-top: 20px;
}
nav
{
    width: 30%;
}
nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 40px;
    align-items: flex-end;
    margin-top: 0px;
}
nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 10px;
}
nav ul a
{
    text-decoration: none;
}
#recherche
{
    display: flex;
    border-radius: 15px;
    width: 450px;
    align-items: center;
    background-color: #F2F2F2;
}
input:active
{
    border: 0px;
}
.ico_map
{
    display: flex;
    margin: 10px 20px 10px 20px;
}
#recherche form
{
    background-color: white;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 350px;
}
.bouton_rechercher
{
    display: flex;
    text-decoration: none;
    background-color: #0065FC;
    width: 110px;
    justify-content: center;
}
.bouton_rechercher a
{
    color: white;
    width: 110px;
}
#filtres
{
    display: flex;
}
#filtres ul
{
    display: flex;
    list-style-type: none;
}
#filtres ul a
{
    display: flex;
    text-decoration: none;
    align-items: center;
}
#filtres li
{
    border: 1px solid grey;
    border-radius: 90px;
    margin-right: 20px;
}