#activités
{
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 3em;
    height: 35em;
    justify-content: space-between;
}
#activités .act img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
}
#activités .act2 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 78%;
}
.act
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    box-shadow: 3px 3px 25px #F2F2F2;
    width: 20em;
}
.act2
{
    display: flex;
    flex-direction: column;
    width: 20em;
}
.act2 h3
{
    margin-top: 3%;
}
.act2 div
{
    border-radius: 20px;
    box-shadow: 3px 3px 25px #F2F2F2;
    height: 46%;
}
#activités h3
{
    margin-left: 20px;
}