#hébergements
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
}
.star
{
    height: 18px;
}
#hébergements h2
{
    margin-left: 1.3em;
}
.hebergements1
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
}
.hebergements1 div
{
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 40px grey;
    margin-bottom: 25px;
}
.hebergements1 h3, .hebergements1 p, .hebergements1 span
{
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.heber
{
    border-radius: 15px 15px 0px 0px;
    height: 7em;
}
.bouton_afficher_plus
{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin-left: 2em;
    padding-top: 1em;
}
@media all and (max-width: 480px)
{
    .hebergements1
    {
        flex-direction: column;
    }
    .hebergements1 div
    {
        width: 90%;
        margin: 16px;
    }
    #hébergements h2
    {
        margin-left: 16px;
    }
    #hébergements
    {
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        order: 2;
    }
}