footer {
    display         : flex;
    background-color: #F2F2F2;
    padding: 30px 0 30px 25px;
}

footer ul {
    display        : contents;
    list-style-type: none;
    flex-direction : column;
}

footer a {
    margin-bottom  : 10px;
    text-decoration: none;
    color          : black;
    display        : flex;
}

footer h3 {
    font-weight: bolder;
    margin-top: 0;
}

footer div {
    margin-right: 18%;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
@media all and (max-width: 480px) {
    footer {
        flex-direction: column;
    }
}