#hébergements
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 65%;
}
.star
{
    height: 18px;
}
#hébergements h2
{
    margin-left: 1.3em;
}
.hebergements1
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.hebergements1 div
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 40px grey;
    width: 27%;
    margin-bottom: 25px;
}
.hebergements1 h3, .hebergements1 p, .hebergements1 span
{
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.heber
{
    border-radius: 15px 15px 0px 0px;
    height: 7em;
}
.bouton_afficher_plus
{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    margin-left: 2em;
    padding-top: 1em;
    width: 9.5%;
}