#activités {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows   : 250px 250px;
    grid-gap             : 25px;
    margin-top           : 1em;
    margin-bottom        : 3em;
    padding-left         : 25px;
    padding-right        : 25px;
}

#activités .act img {
    border-radius: 20px 20px 0px 0px;
    width        : 100%;
    height       : 100%;
}

#activités .act1 img {
    border-radius: 20px 20px 0px 0px;
    width        : 100%;
    height       : 76%;
}

.act {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    border-radius  : 20px;
    box-shadow     : 3px 3px 25px #F2F2F2;
    grid-row       : span 2;

}

.act1 {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    border-radius  : 20px;
    box-shadow     : 3px 3px 25px #F2F2F2;
}

#activités h3, h2 {
    margin-left: 25px;
}

@media all and (max-width: 1278px) {
    #activités {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .act {
        grid-row: span 1;
    }

    #activités .act img {
        height: 76%;
    }
}

@media all and (max-width: 850px) {
    #activités {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows       : 250px 250px 250px;
    }
}

@media all and (max-width: 624px) {
    #activités {
        grid-template-columns: auto;
    }
}