.ico_map {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #F2F2F2;
    border-radius   : 15px 0 0 15px;
}

.ico_map i {
    background-color: transparent;
    margin-right    : 0;
    padding         : 0;
    color           : black;
}

.ico_map img {
    width : 1.5rem;
    height: 1.5rem;
}

#info {
    height: 25px;
}

.star2 {
    height: 14px;
}

#bloc_page {
    max-width: 1350px;
    margin   : auto;
}

#bloc_page h2
{
    padding: 0 25px;
}

#titre_principal h1 {
    margin-bottom: 0px;
    font-size    : 1.5em;
    font-weight  : bolder;
    padding      : 0 25px;
}

#titre_principal p {
    margin-top: 5px;
    padding   : 0 25px;
}

i {
    color           : #0065FC;
    padding         : 13px;
    background-color: #DEEBFF;
    border-radius   : 100%;
    margin-right    : 13px;
    font-size       : 20px;
}

@font-face {
    font-family: 'ralewayregular';
    src        : url('../Fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('../Fonts/raleway-regular-webfont.woff') format('woff'),
        url('../Fonts/raleway-regular-webfont.ttf') format('truetype'),
        url('../Fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style : normal;

}

@font-face {
    font-family: 'ralewaybold';
    src        : url('../Fonts/raleway-bold-webfont.woff2') format('woff2'),
        url('../Fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'ralewaybold';
    src        : url('../Fonts/raleway-bold-webfont.woff2') format('woff2'),
        url('../Fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src        : url('../Fonts/raleway-extrabold-webfont.woff2') format('woff2'),
        url('../Fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

body {
    font-family: 'ralewayregular';
    margin     : 0;
}

#recherche {
    display         : flex;
    border-radius   : 15px;
    width           : 430px;
    align-items     : stretch;
    background-color: #F2F2F2;
    margin-left     : 25px;
}

input:active,
input:focus {
    outline: none;
    border : 0;
}

.ico_map {
    display: flex;
    margin : 10px 20px 10px 20px;
}

#recherche form {
    background-color: white;
    border-top      : 1px solid #F2F2F2;
    border-bottom   : 1px solid #F2F2F2;
    width           : 100%;
    display         : flex;
    align-items     : center;
}

#recherche input {
    font-weight : bold;
    font-size   : 1rem;
    color       : black;
    padding-left: 1rem;
}

.bouton_rechercher {
    display         : flex;
    text-decoration : none;
    background-color: #0065FC;
    text-align      : center;
    padding         : 17px;
    border-radius   : 0px 15px 15px 0px;
}

.bouton_rechercher a {
    color          : white;
    width          : 100%;
    font-weight    : bolder;
    text-decoration: none;
}

#filtres {
    display    : flex;
    font-weight: bolder;
    align-items: center;
    font-size  : 15px;
    max-width  : 1000px;
    margin-top : 15px;
    padding    : 0 25px;
    flex-wrap: wrap;
}

#filtres h2 {
    font-size  : 15px;
    margin-left: 0;
    margin-right: 25px;
}

#filtres ul {
    display             : flex;
    list-style-type     : none;
    padding-inline-start: 0px;
    flex-wrap           : wrap;
}

#filtres ul a {
    display        : flex;
    text-decoration: none;
    align-items    : center;
    color          : black;
}

#filtres li {
    display      : flex;
    border       : 2px solid #F2F2F2;
    border-left  : none;
    border-radius: 28px;
    padding-right: 20px;
    margin: 5px 25px 5px 0;
}

.eco:hover {
    background-color: green;
}

.fami:hover {
    background-color: yellow;
}

.roman:hover {
    background-color: pink;
}

.animaux:hover {
    background-color: saddlebrown;
}

#filtres span li {
    border: none;
}

#filtres img {
    display         : flex;
    background-color: #DEEBFF;
    border-radius   : 90px;
    height          : 20px;
    padding         : 12px;
    margin-right    : 13px;
}

#baniere_info {
    display    : flex;
    align-items: center;
}

section {
    display              : grid;
    grid-template-columns: auto auto;
    grid-gap             : 50px;
    margin-bottom        : 3em;
    margin-top           : 1.8em;
    padding: 0 25px;
}

@media all and (max-width: 480px) {
    #recherche {
        width: auto;
    }

    input {
        width: -webkit-fill-available;
    }
    #filtres ul {
        display  : flex;
        flex-wrap: wrap;
    }

    section {
        display       : flex;
        flex-direction: column;
        width         : 100%;
    }
}

@media all and (max-width: 1024px) {
    section {
        grid-template-columns: auto;
        padding: 0;
    }

    body {
        margin: 0;
    }
}